main {
    position: absolute;
}

.main-benner {
    position: relative;
    width: 100%;
    padding-left: 5vw;
    padding-top: 30vw;
    padding-bottom: 5vw;
    background-color: var(--main-color);
    color: white;
}

.main-benner > .sub-title {
    font-size: 3vw;
    font-weight: 100;
    font-style: var(--content-font);
}

.main-benner > .logo {
    font-size: 9vw;
    letter-spacing: -0.444vw;
}