/*기본 설정*/
* {
    text-decoration: none;
    /*글자 밑줄 제거*/
    border-collapse: collapse;
    /*간격 제거*/
    list-style: none;
    /*리스트 점 제거*/
    margin: 0px;
    padding: 0px;
   
    /*폰트 색상 */
}
.container{
    text-align: center;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
}
.ltxt{
   font-size: 24px;
   margin-top: 20vh;
   margin-bottom: 5vh;
   width: 100%
}
label{
    text-align: left;
}
.name,.pw,.pw_ch,.loginbtn,.id,.id_ch{
    padding-left: 2vw;
    height: 5vh;
    
    border: 1px solid #ff8989;
    border-radius: 6px;
    font-size: 14px;
}
.name,.pw,.pw_ch{
    width: 45vh;
    margin-bottom: 3vh;
}
.id{
    width: 51vw;
    margin-bottom: 3vh;
    margin-right: 2vh;
}
input[type="button"]{
    background-color: #ff6666;
    border: none;
    color: white;
    margin-bottom: 1vh;
}

.loginbtn{
   margin-top: 4vh;
    width: 47vh;

}
.id_ch{
    width: 25vw;
}
.add{
    color: #BBBBBB;
    
}
.label{
    font-size: 14px;
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 0.5vh;
    height: 21px;
    color: #ad7777;
}
