/* header 수정 */
.logo > li > a > img {
    position: relative;
    left: -7vw;
}

li > p {
    font-weight: 900;
}

main {
    height: 100vh;
}

/* 제목 */
main > .container {
    margin: 5vw;
    margin-top: 7vh;
}

.head-title {
    position: relative;
    height: 180px;
}

.head-title > .title {
    margin-top: 4vh;
    font-weight: 900;
    font-size: 7vw;
    height: 120px;
    text-align: left;
}

.container > .content {
    position: relative;
    text-align: left;
    font-size: 3.5vw;
    top: -5vh;
    height: 300px;
}

.container > .title {
    position: relative;
    color: var(--main-color);
    z-index: 10;
    font-size: 4vw;
    font-weight: 600;
    top: -7vh;
}

/* 포스트 리스트 */
.posts-list {
    position: relative;
    text-align: center;
    top: -10vh;
    overflow-y: hidden;
}

.posts-list > ul {
    position: relative;
    top: 3vh;
    height: 330px;
}

.posts-list > ul > button {
    position: relative;
    width: 90vw;
    height: 320px;
    overflow-y: hidden;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.posts-list > ul > button > li {
    position: relative;
    width: 99%;
    height: 270px;
    border-radius: 1em;
    border: 1px solid gray;
    margin-bottom: 3vh;
    box-shadow: 0px 3px 3px 0px gray;
    overflow-y: hidden;
}

.posts-list > ul > button > li > img {
    position: relative;
    top: -4vh;
    width: 100vw;
}

.txt-box {
    position: relative;
    top: -12vh;
    background-color: white;
    height: 140px;
    text-align: left;
    padding: 3vw;
}

.txt-box > .title {
    position: relative;
    font-size: 5vw;
    font-weight: 900;
}

.txt-box > .address {
    height: 3vh;
    font-size: 3vw;
}

.txt-box > .category {
    border: 1px solid var(--main-color);
    width: fit-content;
    padding: 0.7vw 3vw;
    font-size: 3vw;
    color: var(--main-color);
    border-radius: 0.5em;
}