@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-font: 'Pretendard-Regular';
    --content-font: 'JeonjuCraftGoR';
    --main-color: #FF6666;
    --lighter-color: #FF8989;
    --darker-color: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff; /* 헤더 배경색 설정 */
    z-index: 100; /* 다른 요소 위에 나타나도록 설정 */ 
}

header .container {
    border-width: 0 0 1px;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* 줄바꿈 */
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 1.3vh;
    background-color: white;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 106.5vw;
}

.logo {
    display: flex;
    width: 90vw;
}

.logo #logo_txt {
    color: var(--black-color);
    font-size: 4.994vw;
    font-family: var(--main-font);
    font-weight: 900;
    margin-left: 9vw;
}

li {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--black-color);
}

img#login_btn {
    margin-left: 55vw;
    width: 20px;
}

.wrap-vertical::-webkit-scrollbar{
    display: none; 
}


footer{
    position : fixed;
    /* transform : translateY(-100%); */
    background-color:rgb(255, 255, 255);
    width: 100vw;
    height: 11vh;
    bottom: 0;

}

/* footer */
footer button {
    background-color: rgba(255, 255, 255);
    border: none;
    margin-top: 3vh;
    margin-left: 7vw;
    color: var(--main-color);
}

/* 홈 버튼 */
footer > .home-btn {
    position: absolute;
    left: 10vw;
}

footer > .home-btn > img {
    position: absolute;
    top: 1vh;
    width: 7vw;
    height: 3.5vh;
}

footer > .home-btn > p {
    position: absolute;
    top: 5vh;
    left: 2.4vw;
    color: var(--main-color);
    font-size: 0.5em;
}

/* 일기 버튼 */
footer > .diary-btn {
    position: absolute;
    left: 32vw;
}

footer > .diary-btn img {
    position: absolute;
    top: 1vh;
    width: 7vw;
    height: 3.5vh;
}

footer > .diary-btn p {
    position: absolute;
    top: 5vh;
    left: 0.4vw;
    width: 6vw;
    /* height: 3.5vh; */
    color: var(--main-color);
    font-size: 0.5em;
    z-index: 9999;
}

/* 정보 버튼 */
footer > .info-btn {
    position: absolute;
    left: 56vw;
}

footer > .info-btn img {
    position: absolute;
    top: 1.3vh;
    width: 7.5vw;
    height: 3vh;
}

footer > .info-btn p {
    position: absolute;
    top: 5vh;
    left: -1vw;
    width: 10vw;
    color: var(--main-color);
    font-size: 0.5em;
    /* text-align: center; */
}

/* 놀이 버튼 */
footer > .play-btn {
    position: absolute;
    left: 80vw;
}

footer > .play-btn > img {
    position: absolute;
    top: 1vh;
    width: 7vw;
    height: 3.5vh;
}

footer > .play-btn > p {
    position: absolute;
    top: 5vh;
    left: -3.5vw;
    width: 15vw;
    color: var(--main-color);   
    font-size: 0.5em;
}


::-webkit-scrollbar {
    display: none;
}
