@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-font: 'Pretendard-Regular';
    --content-font: 'JeonjuCraftGoR';
    --main-color: #FF6666;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff; /* 헤더 배경색 설정 */
    z-index: 100; /* 다른 요소 위에 나타나도록 설정 */ 
}

header .container {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* 줄바꿈 */
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 1.3vh;
    background-color: aqua;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 106.5vw;
}

.logo {
    display: flex;
    width: 90vw;
}

.logo #logo_txt {
    color: var(--black-color);
    font-size: 4.994vw;
    font-family: var(--main-font);
    font-weight: 900;
    margin-left: 9vw;
}

li {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--black-color);
}

img#login_btn {
    margin-left: 55vw;
    width: 20px;
}